.navbar {
  overflow: hidden;
}

.navbar .container {
  position: relative;
}

.offcanvas-body {
  overflow-y: auto;
}

#link {
  background-image: linear-gradient(to left, #ffffff, #ffffff 50%, #743c8c 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  background-clip: text;
  color: transparent;
  transition: all 0.3s ease-in-out;
}

#link:before {
  content: "";
  background: #ffffff;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

#link:hover {
  background-position: 0;
}

#link:hover::before {
  width: 100%;
}
