.text-title {
  background: linear-gradient(
    90deg,
    rgb(230, 212, 239) 0%,
    rgb(142, 47, 186) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: calc();
}
