/* body {
  background-color: black;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
} */

.text-title {
  background: linear-gradient(
    90deg,
    rgb(230, 212, 239) 0%,
    rgb(142, 47, 186) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: calc();
}

.box {
  background: rgba(255, 255, 255, 0.29);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(20px);
}
