.scroll_bar {
  inset: 50% 100% 0;
  top: 50%;
  transform: translate(0%, -50%);

  height: 50vh;
  width: 10%;
}

.parallaxLayer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.parallaxLayer_end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.icon {
  color: gray;
}

.icon:hover {
  color: white;
}
