.scroll_bar {
  inset: 50% 100% 0;
  top: 50%;
  transform: translate(0%, -50%);
  height: 50vh;
  width: 10%;
}

.parallaxLayer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.parallaxLayer_end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.btn_scroll_active {
  color: #9d76c1;
  background-color: transparent;
}

.btn_scroll_passive {
  color: gray;
  background-color: transparent;
}

.icon {
  color: gray;
}

.icon:hover {
  color: white;
}

.scroll__down {
  display: flex;
  justify-content: flex-end;
  color: gray;
}

.scroll__down:hover {
  display: flex;
  color: white;
}

.scroll__top {
  display: flex;
  justify-content: flex-end;
  color: gray;
}

.scroll__top:hover {
  display: flex;
  color: white;
}

.social_bar {
  display: flex;
  flex-direction: column;

  a {
    text-decoration: none;
    color: gray;
  }
  .icon_container {
    display: flex;
    align-items: center;
    .icon_social {
      color: gray;

      &:hover {
        color: var(--second-color);
      }
    }

    .icon_social:hover + .text_social {
      opacity: 1;
      color: var(--second-color);
    }

    .text_social {
      opacity: 0;
      transition: opacity 0.3s;
    }
  }
}
