:root {
  --main-color: #5b0888;
  --second-color: #c457d5;
}

.patterns {
  margin-top: -25%;
  z-index: -10;
}

.text-title {
  color: var(--second-color);
}

.text {
  letter-spacing: 10px;
  stroke: #70747c;
  font-size: 350px;
  font-weight: 800;
  stroke-width: 3;
  animation: textAnimate 5s;
  fill: rgba(27, 27, 29, 255);
  filter: blur(5px);
}

@keyframes textAnimate {
  0% {
    stroke-dasharray: 0 50%;
    stroke-dashoffset: 20%;
  }

  100% {
    stroke-dasharray: 50% 0;
  }
}

.logo {
  filter: grayscale(100%);
}

.logo:hover {
  filter: grayscale(0%);
}

.button {
  display: flex;
  color: white;
  background-color: transparent;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 2vw;
  padding-right: 3vw;
  background: transparent;
  border: 1px solid white;
}

.button:hover {
  display: flex;
  color: white;
  font-weight: bold;
  flex-direction: row-reverse;
  background: var(--main-color);
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
  border: 1px solid var(--main-color);
}

.boxTop {
  background: radial-gradient(
    at center,
    rgba(155, 89, 182, 0.3),
    rgba(53, 57, 59, 0.3)
  );
  height: 20vh;
}

.boxPassive {
  background: radial-gradient(
    at center,
    rgba(58, 51, 58, 0.3),
    rgba(53, 57, 59, 0.3)
  );
  height: 20vh;
}

.box_approach {
  background-color: whitesmoke;
}

.box_approach:hover {
  background-color: white;
  box-shadow: 0 0 10px #000;
  transform: scale(1.01);
  transition: all 0.3s ease-in-out;
}

.box {
  background: radial-gradient(
    at center,
    rgba(58, 129, 209, 0.3),
    rgba(53, 57, 59, 0.3)
  );
}

.back {
  overflow: hidden;
  background-image: url("../public/images/back.png");
  background-size: contain;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}

.box_services_active {
  background: radial-gradient(
    at center,
    rgba(155, 89, 182, 0.3),
    rgba(53, 57, 59, 0.3)
  );
  height: 20vh;
}

.box_services_passive {
  background: radial-gradient(
    at center,
    rgba(58, 51, 58, 0.3),
    rgba(53, 57, 59, 0.3)
  );
  height: 20vh;
}

.button_learn_more {
  background-color: transparent;
  border: 1px solid white;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  color: white;
}

.button_learn_more:hover {
  background-color: var(--main-color);
  color: white;
  flex-direction: row;
  font-weight: bold;
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 768px) {
  .back {
    background-image: none;
  }
}
