.section {
  background: radial-gradient(
    at center,
    rgba(88, 83, 90, 0.3),
    rgba(53, 57, 59, 0.3)
  );
  border-radius: 5px;
}

.box_section {
  background: radial-gradient(
    at center,
    rgba(155, 89, 182, 0.3),
    rgba(53, 57, 59, 0.3)
  );
}

.box_section:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}

.box__tech:hover {
  background: radial-gradient(
    at center,
    rgba(155, 89, 182, 0.3),
    rgba(53, 57, 59, 0.3)
  );
  border: none;
  border-radius: 10px;
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}
