$black: #222222;
$grey: #767676;
$ease-out-sine: cubic-bezier(0.39, 0.575, 0.565, 1);

html {
  font-size: 62.5%;
}

.app {
  padding: 50vh 0;
  background: rgba($grey, 0.2);
}

.section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 20rem;
  height: 20rem;
  border-radius: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: white;
  z-index: 1;

  &--1 {
    background: #111;
  }
  &--2 {
    background: red;
    width: 35rem;
    height: 35rem;
  }
  &--3 {
    background: beige;
  }
  &--4 {
    background: #111;
  }
  &--5 {
    background: red;
    width: 35rem;
    height: 35rem;
  }
  &--6 {
    background: beige;
  }
}
