.title {
  background: linear-gradient(
    90deg,
    rgb(230, 212, 239) 0%,
    rgb(92, 4, 133) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.subtitle {
  color: rgba(169, 80, 210, 255);
}
