.button {
  display: flex;
  color: white;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 2vw;
  padding-right: 3vw;
}

.button:hover {
  display: flex;
  color: black;
  font-weight: bold;
  flex-direction: row-reverse;
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}
