.container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 20vw;
  margin-top: 10%;
  margin-bottom: 10%;
}

.body {
  font-size: 10vh;
}

.lineMask {
  overflow: hidden;
}
