.img_left {
  object-fit: cover;
  width: auto;
  height: auto;
  margin-left: 20%;
  margin-right: 10%;
}

.img_right {
  object-fit: cover;
  margin-left: 30%;
  margin-top: 30%;
  width: auto;
  height: auto;
}
