.boxTop {
  background: radial-gradient(
    at center,
    rgba(155, 89, 182, 0.3),
    rgba(53, 57, 59, 0.3)
  );
  height: 20vh;
}

.boxPassive {
  background: radial-gradient(
    at center,
    rgba(58, 51, 58, 0.3),
    rgba(53, 57, 59, 0.3)
  );
  height: 20vh;
}

.button {
  display: flex;
  color: white;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 2vw;
  padding-right: 3vw;
  background: transparent;
}

.button:hover {
  display: flex;
  color: black;
  font-weight: bold;
  flex-direction: row-reverse;
  background: white;
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}
